<% if current_user %>
<h1><%= "Welcome #{current_user.name}" %>!</h1><br>
<%= image_tag(@user.image) %><br>

<%= link_to "Logout", signout_path %>
<% else %>
<%= link_to "Sign in with Github", '/auth/github' %>
<% end %>
